body{
    background-color:lightgray;
    /* background: linear-gradient(0.85turn, #00b3ff, #ddff00); */
}



/* ZONE DE NAVIGATION */

.nav-bar1{
    width: 100%; 
    margin: 0px ; 
    background-color: white; 
    position:sticky; 
    top: 0px; 
    z-index: 100;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-bar2{
    background-color: #ffffff;
    width: 90%;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

}

.nav-bar3{
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    width: auto;
    margin: 2px;
    padding: 5px;
}

.nav-bar3 a{
    text-decoration: none; 
    color:black;
    border-bottom: 5px solid transparent;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.nav-bar3 a:hover{
    color: orange;
    border-bottom: 5px solid gold;
}


/* Adaptation pour les petits écrans */
@media (max-width: 768px) {
    .nav-bar2 {
        flex-direction: column; 
        align-items: center; 
    }

    .nav-bar3 {
        margin: 0px 0; /* Ajoute plus d'espace entre les éléments */
    }
}


/*FIN ZONE DE NAVIGATION */




/*ZONE NOM + PRENOM  */
.en-tete1{
    display: flex;
    justify-content: center;
    width:auto;
    height: auto;
    padding-top: 10px;

}
.en-tete2{
    border-radius: 10px;
    background-color:blue ;
    width:auto;
    display: flex;
    color: red;
    font-size: 76px;
    margin: 0px;
    padding: 10px 10px;
}
/*FIN ZONE NOM + PRENOM  */

/* Modele pour les bouton */
button {
    width: auto;
    position: relative;
    height: auto;
    border: 4px ridge #149CEA;
    outline: none;
    background-color:transparent;
    color: rgb(0, 0, 0);
    transition: 1s;
    border-radius: 0.3em;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
}
  
button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color:rgb(190, 190, 190);
    transition: 0.5s;
    transform-origin: center;
}
  
button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color:rgb(190, 190, 190);
    transition: 0.5s;
}
  
button:hover::before, button:hover::after {
    transform: scale(0);
    color:white
}
  
button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}
/* Fin modele pour les boutons */







/* info perso */

.INFO-PERSO{
    display: grid;
}


.info-perso-titre1 , .info-perso-text1 , .info-perso-CV1 , .info-perso-contact1{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 0px;
    
}

.info-perso-titre1{
    margin-top: 50px;
}
.info-perso-text1,.info-perso-CV1,.info-perso-contact1{
    margin-top: 0px;
}

.info-perso-titre2 ,.info-perso-text2 ,.info-perso-CV2 ,.info-perso-contact2{
    background-color: rgb(190, 190, 190);
    border-left-style: outset;
    border-right-style: outset;
    border-width: 10px;
    border-color: black;
}

.info-perso-titre2{
    width: 90%;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    border-top-style: outset ;

    font-size: 44px;
    font-weight: bold;
    color:rgb(255, 145, 0);
    text-align: center;
    text-decoration: underline;
}


.info-perso-text2{
    width: 90%;
    text-align: center;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}

.info-perso-CV2{
    width: 90%;
    text-align: center;
    border-radius: 0px;
    font-size: 32px;
    text-align: center;
    padding-top:15px;
    padding-bottom: 20px;   
}

/* Pour "agrandir" l'imange en passant la souris dessus */
.info-perso-CV2 img{
    transition: transform 0.3s ease-in-out;
}
.info-perso-CV2 img:hover{
    transform: scale(1.3);

}


.info-perso-contact2{
    width: 90%;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    font-size: 32px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    border-bottom-style: outset;
}

.info-perso-text3,.info-perso-contact3{
    border-radius: 10px ;
    background-color: rgba(255, 255, 255, 0.5) ;
    border-style:double;
    border-color: black;
    border-width: 8px;
    width: auto;
    height: auto;
    padding: 5px 10px;
    margin-bottom: 40px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    align-content: center;
    text-align: center;
    min-width: 250px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* fin info perso */



/* Experience pro stage */
.EXPERIENCES-PRO{
    display: grid;
}


.exp-pro-titre1,.exp-pro-text1{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.exp-pro-titre1{
    margin-top: 50px;
    margin-bottom: 0px;
}
.exp-pro-text1{
    margin-top: 0px;
}

.exp-pro-titre2 ,.exp-pro-text2{
    background-color: rgb(190, 190, 190);
    border-left-style: outset;
    border-right-style: outset;
    border-width: 10px;
    border-color: black;
}

.exp-pro-titre2{
    width: 90%;
    border-radius: 10px 10px 0px 0px;
    border-top-style: outset;

    text-align: center;
    font-size: 44px;
    font-weight: bold;
    text-decoration: underline;
    color:rgb(255, 145, 0);
}


.exp-pro-text2{
    width: 90%;
    border-radius: 0px 0px 10px 10px;
    border-bottom-style: outset;
    display: grid;
}


.exp-pro-text3{
    background-color: rgba(255, 255, 255, 0.8) ;

    border-radius: 10px;
    border-style:double;
    border-width: 8px;
    border-color: black;

    padding: 5px 10px;
    margin : 10px;
    margin-bottom: 40px;
    align-content: center;
    margin-right: auto;
}

.Date_Stage{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.Lieux_Stage{
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.Descr_Stage{
    font-size: 18px;
    color: black
}

/*Zone que l'on survole avec la souris */

.exp-pro-text3:hover{
    background-color: rgba(0, 0, 0, 0.9) ;
    border-color: white;
    transition: 0.3s ease-in-out;
}

.exp-pro-text3:hover .Date_Stage,
.exp-pro-text3:hover .Lieux_Stage,
.exp-pro-text3:hover .Descr_Stage {
    color: white;
    transition: 0.3s ease-in-out;
}



/* Fin de la zone */


/* fin expérience pro stage */




/* Compétences */
.COMPETENCES{
    display: grid;
}

.compétences-titre1{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.zone1{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 0px;
}

.compétences-titre2 ,.zone2{ /* Couleur de fonds et bord de la zone */
    background-color: rgb(190, 190, 190);
    border-left-style: outset;
    border-right-style: outset;
    border-width: 10px;
    border-color: black;
}


.compétences-titre2{
    border-radius: 10px 10px 0px 0px;
    border-top-style: outset;
    width: 90%;
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    text-decoration: underline;
    color:rgb(255, 145, 0);
}

.zone2{
    border-radius: 0px 0px 10px 10px;
    border-bottom-style: outset;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
/* case qui se retournent */
.zone3{ /* zone carte avant et arriere */
    border-radius: 10px;
    background-color: transparent;
    width:275px;
    height: 275px;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
    padding: 20px 20px;

}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.zone3:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-avant, .flip-card-arriere {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}
  
.flip-card-avant {
    background-color: #ff0000cd;
    color: black;
    font-size: 38px;
    display: grid;
}
    
.flip-card-arriere {
    background-color: #ffff00;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    font-size: 24PX;
}

.card-avant-titre{
    background-color: #09ff0000;
    height: 60px;
}

.card-avant-texte{
    background-color: #ffffff00;
    height: auto;
    width: auto;
    max-height: 200px;
}
/* fin zone case qui se retourne */
/* FIN ZONE COMPETENCES */



/* Zone métier de l'informatique */
.METIER-INFO{
    display: grid;
}

.métier-info-titre1, .métier-info-text1{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.métier-info-titre1{
    margin-top: 50px;
    margin-bottom: 0px;
}

.métier-info-text1{
    margin-top: 0px;
}


.métier-info-titre2, .métier-info-text2{
    width: 90%;
    text-align: center;
    background-color: rgb(190, 190, 190);
    border-left-style: outset;
    border-right-style: outset;
    border-width: 10px;
    border-color: black;
}

.métier-info-titre2{
    border-radius: 10px 10px 0px 0px;
    border-top-style: outset;
    font-size: 44px;
    font-weight: bold;
    text-decoration: underline;
    color:rgb(255, 145, 0);
}

.métier-info-text2{
    border-radius: 0px 0px 10px 10px ;
    border-bottom-style: outset;
    font-size: 32px;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
}


/* Pour "agrandir" l'imange en passant la souris dessus */
.métier-info-text2 img{
    transition: transform 0.3s ease-in-out;
}
.métier-info-text2 img:hover{
    transform: scale(1.3);
}

/* Fin zone métier de l'informatique */




/* test */

